.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

.App-header {
    border-radius: 8px;
    margin: 10px auto;
    background-color: #007BFF;
    color: white;
    padding: 20px;
}

.App-content {
    margin: 20px;
}

/* Style for the container of note item boxes */
.note-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
}


.note-form-box {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    margin: 0 auto; 
    margin-bottom: 20px;
    text-align: left; 
  }

/* Style for the note text and delete button container */
.note-item {
    display: flex;
    justify-content: space-between;
    /* Align items on the same line */
    align-items: center;
    /* Center vertically within the box */
}


/* Style for the main container */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px;
}


/* Style for each note item box */
.note-item-box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    align-items: center;
    position: relative; /* Add position relative */
}
/* Style for the note text */
.note-text {
    margin: 0;
    flex: 1; /* Allow text to grow and take up available space */
}

.save-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.add-note-button {
    background-color: #007BFF; /* Blue */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

/* Style for the delete button */
.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style for the edit button */
.edit-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    gap: 10px;
}

.save-button:hover,
.add-note-button:hover {
    opacity: 0.8;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute; 
    top: 50%; 
    right: 10px;
    transform: translateY(-50%); 
}